@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --primary-font-size: 18px;
  --primary-font-family: "Outfit", sans-serif;
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-heavy: 600;
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --secondary-dark-blue-bg: hsl(217, 54%, 11%);
  --secondary-dark-blue-card: hsl(216, 50%, 16%);
  --secondary-dark-blue-line: hsl(215, 32%, 27%);
  --secondary-white: hsl(0, 0% 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--primary-font-size);
  font-family: var(--primary-font-family);
  background-color: var(--secondary-dark-blue-bg);
  color: #fff;
}

h1 {
  font-size: 1.2rem;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  align-content: center;
}

.card {
  background-color: var(--secondary-dark-blue-card);
  border-radius: 0.9rem;
  width: 350px;
}

.card-body {
  padding: 1.3rem;
}

.card-header {
  margin-bottom: 1.3rem;
  overflow: hidden;
  position: relative;
}

.card-header .icon-view-overlay {
  display: none;
  color: #fff;
  height: 2rem;
  width: 2.4rem;
  position: absolute;
  top: 43%;
  left: 43%;
}

.card-header:hover::before {
  background-color: var(--primary-cyan);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  border-radius: 0.4rem;
  opacity: 40%;
}

.card-header:hover .icon-view-overlay {
  display: block;
}

.nft-img {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}

.nft-title {
  margin-bottom: 0.9rem;
  font-weight: var(--font-weight-heavy);
}

.nft-description {
  padding-right: 1rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-light);
  color: var(--primary-soft-blue);
  margin-bottom: 1.3rem;
}

.nft-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1.3rem;
}

.nft-price,
.nft-time {
  display: inherit;

  text-align: center;
  align-items: center;
}

.icon {
  margin-right: 0.4rem;
  display: inherit;
}

.nft-price p {
  color: var(--primary-cyan);
  font-weight: var(--font-weight-heavy);
}

.card-line {
  background-color: var(--secondary-dark-blue-line);
  border: none;
  height: 1px;
  margin-bottom: 1rem;
}

.nft-creation {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 0.9rem;
}

.profile-img {
  width: 1.9rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 0.9rem;
}

.profile-name {
  color: var(--primary-soft-blue);
  font-weight: var(--font-weight-light);
  font-size: 0.9rem;
}

.profile-link {
  margin-left: 0.3rem;
  color: #fff;
  text-decoration: none;
  font-weight: var(--font-weight-light);
  font-size: 0.9rem;
}

.nft-title:hover,
.nft-title:active,
.profile-link:active,
.profile-link:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .card {
    width: 325px;
  }

  .nft-price,
  .nft-time {
    font-size: 0.9rem;
  }
  .nft-creation > * {
    font-size: 0.9rem;
  }
}
